In [276]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Dense, Dropout
import os
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import tensorflow.keras.layers as layers
import yaml

In [277]:
with open('config.yml') as file:
    config = yaml.load(file, Loader=yaml.FullLoader)
test = config['system']['test']

In [278]:
if(test):
    preprocessing_file = 'test.csv'
else:
    preprocessing_file = 'train.csv'

In [279]:
def get_age_range(x):
    if(x <= 11): return 0
    else: return 1

In [280]:
dataset = pd.read_csv(preprocessing_file)

In [281]:
dataset = dataset.drop(columns=['Cabin', 'Ticket', 'Name'])

In [282]:
temp_df = dataset.copy()
temp_df = temp_df.fillna(-1)
condition = temp_df['Age'] >= 0
temp_df = temp_df[condition]
age_sum = temp_df['Age'].sum(axis=0)
valid_age_cnt = temp_df['Age'].count()
age_avg = round(age_sum / valid_age_cnt)
dataset['Age'] = dataset['Age'].fillna(age_avg)

In [283]:
dataset['is_infant'] = dataset['Age'].apply(lambda x : get_age_range(x))
dataset['family'] = (dataset['Parch'] + dataset['SibSp'])

In [284]:
if(test):
    dataset = dataset.fillna(30)

In [285]:
# dataset['is_one_Parch'] = dataset['Parch'] == 1
# dataset['is_one_Parch'] = dataset['is_one_Parch'].astype(int)
# dataset['is_one_SibSp'] = dataset['SibSp'] == 1
# dataset['is_one_SibSp'] = dataset['is_one_SibSp'].astype(int)

In [286]:
if(test):
    categorical_columns_onehotEncoding = ['Sex', 'Embarked']
    categorical_columns_labelEncoding = ['Pclass']
    for col in categorical_columns_labelEncoding:
        le = preprocessing.LabelEncoder()
        le.fit(dataset[col].values)
        dataset[col] = le.transform(dataset[col].values)
    dataset = pd.get_dummies(data=dataset, columns = categorical_columns_onehotEncoding)
    dataset = dataset.drop(columns=col)
    dataset = dataset.drop(columns=['Sex_male', 'Embarked_S', 'Embarked_Q'])
    dataset.to_excel('test.xlsx', index=False)
else:
    categorical_columns_onehotEncoding = ['Sex', 'Embarked']
    categorical_columns_labelEncoding = ['Pclass']
    for col in categorical_columns_labelEncoding:
        le = preprocessing.LabelEncoder()
        le.fit(dataset[col].values)
        dataset[col] = le.transform(dataset[col].values)
    dataset = dataset.drop(columns='PassengerId')
    dataset = pd.get_dummies(data=dataset, columns = categorical_columns_onehotEncoding)
    dataset = dataset.drop(columns=col)
    dataset = dataset.drop(columns=['Sex_male', 'Embarked_S', 'Embarked_Q'])
    dataset.to_excel('preprocessing.xlsx', index=False)

In [287]:
dataset

,PassengerId,Age,SibSp,Parch,Fare,is_infant,family,Sex_female,Embarked_C
0,892,34.5,0,0,7.8292,1,0,0,0
1,893,47.0,1,0,7.0000,1,1,1,0
2,894,62.0,0,0,9.6875,1,0,0,0
3,895,27.0,0,0,8.6625,1,0,0,0
4,896,22.0,1,1,12.2875,1,2,1,0
...,...,...,...,...,...,...,...,...,...
413,1305,30.0,0,0,8.0500,1,0,0,0
414,1306,39.0,0,0,108.9000,1,0,1,1
415,1307,38.5,0,0,7.2500,1,0,0,0
416,1308,30.0,0,0,8.0500,1,0,0,0
417,1309,30.0,1,1,22.3583,1,2,0,1